<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{game.name}}
      <mat-chip-list>
        <mat-chip *ngIf="userIsOwner" color="primary" selected="true">owner</mat-chip>
      </mat-chip-list>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Start Game</button>
        <button mat-menu-item>View Hub</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div>
      Players:
      <p *ngFor="let player of game.players" [ngClass]="{ 'mat-body-2': player.id === user.uid, 'mat-body-1': player.id !== user.uid }">{{player.username}}</p>
    </div>
  </mat-card-content>
</mat-card>