<button mat-raised-button (click)='logout()'>logout</button>
<div *ngIf="user | async as userState; else loading">
  <div *ngIf="games | async as gamesState">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div>
        <h1 class="mat-h1">{{userState.user.player.username}}'s Games </h1>
      </div>
    </div>
    <app-home-action-bar [gamesState]="gamesState"></app-home-action-bar>
    <app-game-dashboard [games]="gamesState.games" [user]="userState.user"></app-game-dashboard>
  </div>
</div>